{% extends "layout.html" %}

{% block contents %}
    <div class='screen centering'>
        <div class='main-logo'>
            <img src="/images/logo_stroked_blue1.svg" />
        </div>
        <form class='blue main-search' action='search' method='get'>
            <input class='big nofocus' autofocus autocomplete='off' type='text' name='query' placeholder='Search' />
            <button type='submit' class='button square'>
                <i class='fa fa-search'></i>
            </button>
        </form>
    </div>
{% endblock %}
