<!doctype html>
<html>
    {% block head %}
    <head>
        <title>{% block title %} {{title}} {%endblock%}</title>
        {% block topcss %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Source+Sans+Pro:100,200,300,400,600,800">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='shortcut icon' type='image/png' href='images/favicon.png' />
        <script src='http://code.jquery.com/jquery-2.1.1.js'></script>
        {%endblock%}
        {% block topscripts %}{%endblock%}
    </head>
    {% endblock %}
    {% block body%}
    <body>
        {% block contents %}{%endblock%}
        {% block css %}{%endblock%}
        {% block scripts %}{%endblock%}
    </body>
    {% endblock %}
</html>
