{% extends "layout.html" %}

{% block contents %}

<section class='app'>
    <form class='blue main-search' action='search' method='get'>
        <input class='big nofocus' autofocus value='{{ query }}' type='text' name='query' placeholder='Search' autocomplete='off' />
        <button type='submit' class='button square'>
            <i class='fa fa-search'></i>
        </button>
    </form>
    <section class='search-results'>
        {% if empty %} 
            <article class='no-results'>
                Nothing was found !
            </article>
        {% else %}
            {% for snip in results %}
                {% if snip %}
                    <article class='snip'>
                    <h2 class='snip-tags'>{{ snip.tags }}</h2>
                        <pre class='snip-contents'>{{ snip.text }}</pre>
                    </article>
                {% else %}
                    <article class='compose'>
                        <textarea class='big nofocus' name='text', placeholder='New Content'></textarea>
                        <button type='submit' class='button square'>
                            Save
                        </button>
                    </article>
                    <script>
                        $(function(){
                            $('.compose button[type="submit"]').click(function(){
                                console.log('CLICK!');
                                $.get('/api/snip/create/',{
                                    tags: $('.main-search input[type="text"]').val(),
                                    text: $('.compose textarea').val(),
                                },function(){
                                    window.location = window.location;
                                });
                            });
                        });
                    </script>
                {% endif %}
            {% endfor %} 
        {% endif %}

    </section>

</section>

{% endblock %}
